
  .Explanation{
    text-align:center;
    top: 60px;
  
    width:100%;
  
    background-color: white;
    padding: 10px 20px;
    height: 600px;
    
    /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    */
      border-bottom: 2px solid balck;
  }

  .row{
    padding-top:10px;
    margin-top:-40px;
  }

  #explain_title{
    margin-top: 8%;
    color: black;
    font-size:25px;
  }

  #explain_sub{
    color: black;
    font-size :17px;
  }

  #services_title{
    font-size:50px;
  font-family: 'Jua', sans-serif;
  }

#services #block{
  font-family: 'Yeon Sung', cursive;
  font-size:19px;
}
#services #block #block_title{
  font-family: 'Yeon Sung', cursive;
}
  @media(max-width:600px){
    #services_title{
      font-size:40px;
    } 
  }
  @media(max-width:600px){
    .row{
      display:flex;

    }
    #services #block{
      width:50%;
    }
  }