
 body{
}

 #imgGreetings1{
   margin-top:-25%;
   margin-left:2%;
   width:250px;
   display:inline-block;
 }
 #imgGreetings2{
   margin-top:-30%;
   width:230px;
   display:inline-block;
   margin-left:80%;
 }
 
 @media(max-width:900px){
   #imgGreetings2{
     margin-left:75%;
     margin-top:-40%;
     width:100px;
   }
   #imgGreetings1{
     width:110px;
   }
 }

 .loader {
   width: 100%;
   height: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 300;
 }
 
 .Main{
   z-index:0;
   /* justify-content: space-between;
   flex-wrap: wrap;
   margin-top:60px;
   padding: 100px;
   padding-top: 100px; */
   margin-top:0px;
   padding-top:10px;
   width: 100%;
   background-color:pink;
   height: 1000px;
   text-align:center;
   justify-content: center;
 }


 .controller{
   position:fixed;
   right:4%;
   top:30%;
   z-index:4;
   margin:0;
   margin-top:92px;
   padding:0;
   list-style:none;
   text-align:center;
 }

 .controller li{
   height:50px;
   align-content: center;
   background-color:#8ac007;
   /*-webkit-box-radius: 50%; */
   border-radius: 30%;
   margin-bottom:10%;
 }

 .controller li a{
   color: black;
   background-color:#8ac007;
   border-radius: 30%;
   display:block;
   width:50px;
   height:100%;
   line-height: 50px; /* li의 높이와 맞춘다 */
   text-decoration: none;
 }

 .controller li a.on {
   background-color:  #C71585;
   color: #fff;
}
@media(min-width:900px){
 #apply_container{
   width:50%;
   padding-bottom:50px;
 box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
   margin-left:25%;
 }
}

@media(max-width:900px){
 #apply_container{
   padding-top:30px;
 }
}

#mainNav{
 height:50px;
}

@media(max-width:900px){
 #mainNav{
   height:70px;
 }
}

#title_explain{
 text-align:center;
 padding-left:100px;
 width:60%;
}
#title_explain p{
 margin:2px;
}

#title_explain #durate{
 font-size: 22px;
 font-family:bold;
}


#icon_kakaotalk{
 width:30px;
 height:30px;
}
a{
 text-decoration: none;
}

#title_explain a{
 color: yellow;
 text-decoration: none;
}
.masthead_container{
 padding-top:9%;
 padding-bottom: 42%;
 margin-top:-100px;
 background-color:pink;
 height:120%;
 font-family: 'Yeon Sung', cursive;
 justify-content: center;
}

.masthead .title{
 color:deeppink;
 font-size:120px;
 font-family: 'Jua', sans-serif;
 letter-spacing: px;
 padding:0px;
}
@media(max-width:600px){.masthead .title{
 font-size:100px;
}
}

.masthead .sub_title{
 padding-top:0%;
 padding-bottom: 5px;
 font-size:20px;
 display: inline-block;
 border-bottom-width: 3px;
 border-bottom-color: deeppink;
 border-bottom-style: solid;
 font-family: 'Yeon Sung', cursive;
 margin-top:-10px;
}

#text_apply{
 padding-top:2%;
 color:black;
 font-size:18px;
 font-family: 'Yeon Sung', cursive;
}

.masthead #apply{
 background-color:deeppink;
 font-size:20px;
 padding:18px;
 border-radius:10px;
 color:pink;
 margin-top:-10px;
 font-family: 'Jua', sans-serif;
}
.masthead #apply:hover {
  background-color:rgb(255, 110, 219);
  color:rgb(255, 0, 140);
}